name: Build and Release APK

on:
  push:
    branches:
      - main  # 触发条件：当推送到main分支时
  pull_request:
    branches:
      - main  # 触发条件：当向main分支发起PR时
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest  # 使用Ubuntu作为运行环境

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  # 检出代码到工作空间

    - name: Set up JDK 11
      uses: actions/setup-java@v2  # 设置Java环境
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Build with Gradle
      run: ./gradlew assembleDebug  # 使用Gradle构建APK

    - name: Upload APK
      uses: actions/upload-artifact@v2  # 上传APK文件到GitHub Actions的Artifact中
      with:
        name: app  # Artifact的名称
        path: app/build/outputs/apk/debug/app-debug.apk  # APK文件的路径
